extend default

// rs1Obj = Relay State read from rs.json file
//  {"card":[{"r1":"0","r2":"1","r3":"1","r4":"","r5":"","r6":"","r7":"","r8":""}]}
//                     radiobox
//       relay state   On  Off
// "0"   off           ( ) (*)
// "1"   on            (*) ( )
// ""    undefined     ( ) ( )

block content
  p.
    Present State - displayed in radio buttons
  p.
    Next State - select on/off state & duration, click Submit to apply
  p.
    Use the Reset Button to clear selections back to Present State 

  form(action='/relays', method='POST')
    .row
      .col-xs-6
        form(role="form")
          .form-group
            label Relay 1 
              input(type="radio", name="r1", value="1", checked=rs1Obj.card[0].r1=="1")
              |  On  
              input(type="radio", name='r1', value="0", checked=rs1Obj.card[0].r1=="0")
              |  Off   
            label Duration 
            select(name="r1dur")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label Relay 2 
              input(type="radio", name="r2", value="1", checked=rs1Obj.card[0].r2=="1")
              |  On  
              input(type="radio", name='r2', value="0", checked=rs1Obj.card[0].r2=="0")
              |  Off   
            label Duration 
            select(name="r2dur")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label Relay 3 
              input(type="radio", name="r3", value="1", checked=rs1Obj.card[0].r3=="1")
              |  On  
              input(type="radio", name='r3', value="0", checked=rs1Obj.card[0].r3=="0")
              |  Off   
            label Duration 
            select(name="r3dur")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          input.btn.btn-primary(type="submit", value='Relays')
          button.btn.btn-default(type="reset") Reset Button

