extend default

block content
  form(action='/relays', method='POST')
    .row
      .col-xs-6
        form(role="form")
          .form-group
            label Relay 1 
              input(type="radio", name="r1", value="on", checked=r1ps=="on")
              |  On  
              input(type="radio", name='r1', value="off", checked=r1ps=="off")
              |  Off   
            label Duration 
            select(name="r1dur")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label Relay 2 
              input(type="radio", name="r2", value="on", checked=r2ps=="on")
              |  On  
              input(type="radio", name='r2', value="off", checked=r2ps=="off")
              |  Off   
            label Duration 
            select(name="r2dur")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label Relay 3 
              input(type="radio", name="r3", value="on", checked=r3ps=="on")
              |  On  
              input(type="radio", name='r3', value="off", checked=r3ps=="off")
              |  Off   
            label Duration 
            select(name="r3dur")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          input.btn.btn-primary(type="submit", value='Relays')



