extend default

// - relay ps   r1    r2    r3    app.get(/checkbox, ...) reads ps into rps[]
// -         rps[0]  rps[1] rps[2]
// - {"rps" : ['1',  '0',   '']}      Value:  0-off 1-on ''=undefined

block content
  p.
    Present State - displayed in radio buttons
  p.
    Next State - select on/off state & duration, click Submit to apply
  p.
    Use the Reset Button to clear selections back to Present State 

  form(action='/relays', method='POST')
    .row
      .col-xs-6
        form(role="form")
          .form-group
            label Relay 1 
              input(type="radio", name="r1", value="1", checked=rps[1]=="1")
              |  On  
              input(type="radio", name='r1', value="0", checked=rps[1]=="0")
              |  Off   
            label Duration 
            select(name="r1dur")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label Relay 2 
              input(type="radio", name="r2", value="1", checked=rps[2]=="1")
              |  On  
              input(type="radio", name='r2', value="0", checked=rps[2]=="0")
              |  Off   
            label Duration 
            select(name="r2dur")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label Relay 3 
              input(type="radio", name="r3", value="1", checked=rps[3]=="1")
              |  On  
              input(type="radio", name='r3', value="0", checked=rps[3]=="0")
              |  Off   
            label Duration 
            select(name="r3dur")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          input.btn.btn-primary(type="submit", value='Relays')
          button.btn.btn-default(type="reset") Reset Button

