extend default

// - relay ps   r1    r2    r3    app.get(/checkbox, ...) reads ps into rps[]
// -         rps[0]  rps[1] rps[2]
// - {"rps" : ['on', 'off', '']}

block content
  form(action='/relays', method='POST')
    .row
      .col-xs-6
        form(role="form")
          .form-group
            label Relay 1 
              input(type="radio", name="r1", value="on", checked=rps[0]=="on")
              |  On  
              input(type="radio", name='r1', value="off", checked=rps[0]=="off")
              |  Off   
            label Duration 
            select(name="r1dur")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label Relay 2 
              input(type="radio", name="r2", value="on", checked=rps[1]=="on")
              |  On  
              input(type="radio", name='r2', value="off", checked=rps[1]=="off")
              |  Off   
            label Duration 
            select(name="r2dur")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label Relay 3 
              input(type="radio", name="r3", value="on", checked=rps[2]=="on")
              |  On  
              input(type="radio", name='r3', value="off", checked=rps[2]=="off")
              |  Off   
            label Duration 
            select(name="r3dur")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          input.btn.btn-primary(type="submit", value='Relays')



